.meal-container{
    max-width: 80%;
    margin: 20px auto;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
    .meal{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}